@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

	.presentation .header .white-border .title-block .composition-title
		height: 494px
	.presentation .header .white-border .title-block .composition-title img
		top: -5px
	.presentation .header .white-border .title-block .composition-title h1 
		font-size: 28px
		line-height: 2.4rem	
	.presentation .header .white-border .title-block .composition-title .pre-title
		font-size: 11px		
		
				

// ≥992px
+media-breakpoint-down(md)
	.presentation .header .white-border .title-block .composition-title
		height: 360px
	.presentation .header .white-border .title-block .composition-title img
		top: -5px
	.presentation .header .white-border .title-block .composition-title h1 
		font-size: 24px
		line-height: 1.8rem	
	.presentation .header .white-border .title-block .composition-title .pre-title
		font-size: 11px
	.presentation .header .white-border .title-block .composition-title .post-title
		bottom: 10px	
	.nav-line, .nav-pills .nav-link, nav
		height: 44px
	.nav-pills .nav-link
		font-size: 16px
	section 
		padding: 60px 0
	.section-title
		font-size: 28px					
	.card-row
		.card
			width: 140px
			height: 140px
			font-size: 16px
			line-height: 16px
			img 
				margin-bottom: 10px
	p, ul, li 
		font-size: 16px
		font-weight: 500
	.ghost-btn, .s-btn
		font-size: 14px

	.large-btn-wrapper
		margin: 40px 0
	.large-btn
		font-size: 16px
		img
			width: 20px					
// ≥768px
+media-breakpoint-down(sm)
	.card-col
		margin-bottom: 20px
	.nav-line
		height: 88px
	.nav-pills .nav-link
		font-size: 16px
		border: none
		&:nth-child(1)
			border: none	
	header
		.page-title
			font-size: 60px
			span
				font-size: 24px
				bottom: 20px
	.card-row
		.card
			width: 100px
			height: 100px
	.g-btn-wrapper 						
		margin-bottom: 20px
// ≥576px
+media-breakpoint-down(xs)
	.img-txt
		font-size: 8px
	.nav-line
		height: auto
	.nav
		flex-direction: column
		flex-wrap: nowrap
		background-color: $text
		height: auto
	.card-row
		.card
			p
				font-size: 14px
	.form-row
		form
			height: 150px
			.text-area
				height: 150px
		.ghost-btn
			margin-bottom: 20px
		.notif
			margin-bottom: 20px	
	.presentation .header .white-border .title-block .composition-title
		padding: 20px
	.presentation .header .white-border .title-block .composition-title .post-title
		font-size: 12px
		line-height: 16px			
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
